*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --mainBtnColor: rgb(32, 204, 98);
    --secondaryBtnColor: rgb(12, 77, 37);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFF;
}
body{
    background: rgb(219, 228, 220);
    // background-image: url('IMG/BG2.png');
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Open Sans', sans-serif;
}
input, button{ border:none; outline:none;}


.lightBox{
    position: fixed;
    background: rgba(#000, .4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .allData{
        padding: 20px;
        display: inline-block;
        width: 800px;
        max-height: 400px;
        overflow: auto;
        background: #FFF;
        border-radius: 5px;

        .allDataTable{
            border-collapse: collapse;
            tr{
                &:hover{
                    background: #CCC;
                    cursor: pointer;
                }
                td{
                    padding: 5px 20px;
                }
            }
        }
        
    }

    .newMedicine{
        display: none;
        width: 300px;
        height: 300px;
        background: #FFF;
    }
    
}








.navbar{
    background: var(--mainBtnColor);
        padding: 15px 30px;
        vertical-align: middle;
        height: 300px;
    .text{
        display: flex;
        
        justify-content: space-between;
        
        .navbarBrand{
            
            font-size: 20px;
            font-weight: 700;
            transition: all .4s ease;
            &:hover{
                color: #CCC;
            }
        }
    }
    .logo{
        display: flex;
        width: 100%;
        img{
            justify-content: center;
            margin: 0 auto;
            width: 150px;
        }
    }
}

.container{
    main{
        width: 85%;
        margin: 20px auto;
        .panelBtn{
            margin-top: -100px;
            display: flex;
            flex-direction: row;
            li{
                width: 100%;
                text-align: center;
                cursor: pointer;
                padding: 10px 20px;
                background: rgb(165, 214, 189);
                color: #FFF;
                font-weight: 300;
                transition: all .4s ease;
                &:hover{
                    background: var(--secondaryBtnColor);
                }
                &.active{
                    background: var(--secondaryBtnColor);
                }
            }
        }
        .dashboard{
            padding-bottom: 30px;
            background: rgb(255, 255, 255);
            border-radius: 5px 5px 0 0 ;
            box-shadow: 0px 5px 3px #888888;
            h2{
                text-align: center;
                margin: 10px 0;
                padding: 20px;
            }
            .patients{
                width: 80%;
                margin: 0 auto;
                .patientsTable{
                    border: none;
                    box-shadow: 0px 5px 10px #000;
                    tr{
                        cursor: pointer;
                        border-bottom: 2px solid rgba(#FFF, .4);
                        transition: all .4s ease;
                        

                        &:hover{
                            background: #CCC;
                        }

                        td{
                            text-align: left;
                        }
                        th{
                            background: var(--mainBtnColor);
                        }
                    }
                }
                .patientSearcher{
                    width: 80%;
                    margin: 0 auto;
                    input{
                        margin-bottom: 40px;
                        width: 100%;
                        text-align: center;
                        padding: 10px 20px;
                        font-size: 20px;
                        border-radius: 5px;
                        font-family: 'Open Sans', sans-serif;
                        background-color: rgba(#FFF, .4);
                        border:1px solid var(--mainBtnColor);
                        background-image:none;
                        background-color:transparent;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        &:focus{
                            outline: 1px solid var(--secondaryBtnColor);
                        }
                    }
                }
            }
            table {
                margin: 0 auto;
                border-collapse: collapse;
                margin-bottom: 50px;
                border: 1px solid var(--secondaryBtnColor);
                thead{
                    
                    color: #FFF;

                    th{
                        width: 250px;
                        padding: 10px 20px;
                        background: var(--mainBtnColor);
                    }
                }
                tbody{
                    tr{
                        td{
                            text-align: center;
                            padding: 7px 15px;
                        }
                    }
                }
              }
              .addPatient{
                  width: 100%;
                  .newPatient{
                    display: flex;
                    width: 80%;
                    margin: 0 auto;
                    
                    
                    flex-direction: row;
                    justify-content: space-between;
                    width: 80%;
                    .registerError{
                        background: rgb(248, 157, 157);
                        border: 1px solid rgb(255, 3, 3);
                        color: #FFF;
                        padding: 2px 5px;
                        text-align: center;
                        font-size: 13px;
                        border-radius: 5px;
                    }

                    .contactData{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        
                        .dateBirth{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            select{
                                width: 20%;
                            }
                            
                        }
                        .sameAdress{
                            text-align: center;
                            width: 200px;
                            background: rgb(73, 223, 190);
                            text-align: center;
                            color: #FFF;
                            padding: 10px 20px;
                            box-shadow: 0px 1px 1px #000;
                            cursor: pointer;
                            margin: 20px auto;
                            transition: all .4s ease;
                            &:hover{
                                background: rgb(41, 126, 107);
                            }
                            &:active{
                                background: rgb(61, 19, 19);
                            }
                        }
                        .createPatientBtn{
                            background: var(--mainBtnColor);
                            text-align: center;
                            color: #FFF;
                            padding: 10px 20px;
                            box-shadow: 0px 1px 1px #000;
                            cursor: pointer;
                            margin-top: 20px;
                            transition: all .4s ease;
                            &:hover{
                                background: var(--secondaryBtnColor);
                            }
                            &:active{
                                background: rgb(177, 209, 177);
                            }
                        }
                    }
                    .medicalData{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        

                    }

                    input, select{
                        font-size: 134x;
                        width: 100%;
                        margin: 10px 0;
                        padding: 5px 10px;
                        font-family: 'Open Sans', sans-serif;
                        background-color: rgba(#FFF, .4);
                        border:1px solid var(--mainBtnColor);
                        background-image:none;
                        background-color:transparent;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        &:focus{
                            outline: 1px solid var(--secondaryBtnColor);
                        }
                    }

                    .cieSearcher{
                        
                        margin: 0 0;
                        width: 100%;
                        .diagnosticsDropbox{
                            .buttonDropbox{
                                width: 100%;
                                padding: 10px 20px;
                                background: var(--mainBtnColor);
                                color: #FFF;
                                cursor: pointer;
                                transition: all .4s ease;
                                &:hover{
                                    background: var(--secondaryBtnColor);
                                    
                                }
                            }

                        }
                        .diagnostics{
                            font-size: 13px;
                            background: rgb(172, 214, 200);
                            color: #000;
                            li{
                                padding: 10px 20px;
                                cursor: pointer;
                                transition: all .4s ease;
                                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                                &:hover{
                                    background: rgb(104, 151, 135);
                                }
                            }
                        }

                    }
                    .actualDiagnostics{
                        width: 100%;
                        border: none;
                        font-size: 12px;
                        font-weight: 700;
                        td, .noDiag{
                            padding: 10px;
                        }
                        .deleteDiagnostic{
                            background: rgb(200, 22, 22);
                            color: #FFF;
                            padding: 10px 20px;
                            width: fit-content;
                            float: right;
                            cursor: pointer;
                            &:active{
                                background: rgb(255, 0, 0);
                            }
                        }
                    }
                  }
              }
        }
    }
}

.containerPatient{
    box-shadow: 0px 5px 3px #888888;
    border-radius: 5px;
    background: #FFF;
    width: 80%;
    margin: -100px auto;
    padding: 20px;
    .diagnostics{
        margin-left: 20px;
    }
    .personalDataTable{
        box-shadow: 0px 5px 3px #888888;
        margin: 0 auto;
        margin-top: 50px;
        width: 600px;
        padding: 20px;
        border-collapse: collapse;
        tr{
            cursor: pointer;
            transition: all .4s ease;
            &:hover{
                background:rgb(136, 228,  185);
            }
            td{
                padding: 10px 40px;
            }
        }
    }
    .showAllData{
        box-shadow: 0px 2px 4px #888888;
        background:var(--mainBtnColor);
        width: 600px;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 10px 20px;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        transition: all .4s ease;
        &:hover{
            background:var(--secondaryBtnColor);
        }
    }
    .newMedicineBtn{
        text-align: center;
        width: 300px;
        background:var(--mainBtnColor);
        text-align: center;
        color: #FFF;
        padding: 10px 20px;
        box-shadow: 0px 1px 1px #000;
        cursor: pointer;
        margin: 20px auto;
        transition: all .4s ease;
        &:hover{
            background:var(--secondaryBtnColor);
        }
        &:active{
            background:rgb(32, 78, 67);
        }
    }
    .medicineList{
        box-shadow: 0px 5px 3px #888888;
        margin: 0 auto;
        margin-top: 50px;
        width: 600px;
        padding: 20px;
        border-collapse: collapse;
        
        

        tr{
            td{
                padding: 10px 40px;
            }
            .daysMedicine{
                display: flex;
                justify-content: space-around;
                div{
                    border-radius: 5px;
                    vertical-align: middle;;
                    padding: 10px;
                    background: var(--mainBtnColor);
                    &.active{
                        background: var(--secondaryBtnColor);
                        color: #FFF;
                    }
                }
            }
        }
    }
}